<div class="main">
  <h2 class="page_heading">生徒一覧</h2>

  <% @grades.each do |grade| %>
    <div>
      <%= grade.name %>
      <% grade.users.each do |student| %>
        <%= link_to student.last_name, student_results_path(student.id) %>
      <% end %>
    </div>
  <% end %>

</div>