* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

ul,li,h2,h3 {
  margin: 0;
  padding: 0;
}

.list_default {
  padding: 10px 10px 0 10px;
}

a {
  text-decoration: none;
  color: black;
}


/* ヘッダー */

.header {
  background-color: aliceblue;
  padding-top: 10px;
  overflow-x: auto;
}

.nav {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.top {
  color: rgb(78, 194, 248);
  font-size: 28px;
}

.nav_right {
  text-align: right;
  min-width: 230px;
  white-space: nowrap;
}

.user_info {
  color: navy;
  font-size: 20px;
}

.nav_bar {
  margin: 10px 0 5px 0;
}

.nav_btn {
  display: inline-block;
  color: navy;
  margin-left: 5px;
  padding: 2px 3px;
  border-radius: 4px;
  border: 1px solid navy;
}


/* フォーム */
.form_wrapper {
  background-color: rgb(246, 253, 253);
  padding: 20px 0 50px 30px;
  min-height: 100vh;
}

.field {
  margin-bottom: 10px;
}

.input_default {
  margin: 5px 0 0 10px;
  height: 40px;
  padding: 10px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.select_box {
  margin: 5px 0 0 10px;
  height: 30px;
  padding-left: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form_btn {
  margin: 10px 0 0 30px;
  height: 30px;
  width: 150px;
}


/* メイン */

.main {
  background-color: rgb(246, 253, 253);
  padding: 0 0 50px 30px;
  min-height: 100vh;
  overflow-x: auto;
}

.wrapper {
  display: flex;
  overflow-x: auto;
}

.page_heading {
  color: navy;
  padding-top: 30px;
  margin-bottom: 20px;
}

.side_bar {
  background-color: azure;
  min-height: 100vh;
  min-width: 110px;
  width: 110px;
  border-right: 1px solid navy;
}

.main_right {
  background-color: rgb(246, 253, 253);
  padding: 0 0 50px 5px;
  min-height: 100vh;
  min-width: 530px;
  width: calc(100vw - 110px);
}


/* 生徒一覧 */

.grade_wrapper {
  display: flex;
}

.grade_inner {
  display: flex;
  margin-bottom: 30px;
}

.student_list {
  margin-left: 30px;
  padding: 10px 0;
  border: 1px solid navy;
  width: 130px;
}

.grade_name {
  padding: 0 10px;
  border-bottom: 1px solid navy;
}


/* 成績 */

.result_wrapper {
  display: flex;
}

.result_category {
  color: navy;
  font-size: 18px;
  margin-right: 10px;
}

.result_list {
  min-width: 90px;
  max-width: 150px;
  margin: 10px 10px 0 10px;
  padding: 2px 3px;
  border: 1px solid navy;
  border-radius: 4px;
}

.bgcolor1 {
  background-color: rgb(251, 220, 247);
}

.bgcolor2 {
  background-color: rgb(198, 249, 249);
}

.bgcolor3 {
  background-color: rgb(252, 252, 198);
}

table {
  text-align: right;
  border-collapse: collapse;
  margin: 0 10px 10px 10px;
}

th, td {
  padding: 5px;
  border: 1px solid navy;
}

.subject_name {
  width: 111px;
}

.subject_score {
  width: 130px;
}

.subject_average {
  width: 61px;
}

.subject_rank {
  min-width: 130px;
}

.subject_edit {
  border: none;
}

.input_subject {
  text-align: right;
  width: 100px;
}

.input_num {
  text-align: right;
  width: 50px;
}

.now_edit_subject {
  background-color: rgb(249, 225, 228);
}

.btn_wrapper {
  display: flex;
}

.btn_wrapper>.actions>.form_btn {
  margin: 10px 0 0 10px;
}

.default_btn {
  display: table;
  text-align: center;
  background-color: rgb(235, 235, 235);
  margin: 10px 0 0 10px;
  height: 30px;
  width: 150px;
  border: 1px solid gray;
  border-radius: 3px;
}

.delete_btn {
  display: table;
  text-align: center;
  background-color: rgb(249, 225, 228);
  margin: 10px 0 0 10px;
  height: 30px;
  width: 150px;
  border: 1px solid gray;
  border-radius: 3px;
}

.btn_inner {
  display: table-cell;
  vertical-align: middle;
}


/* コメント */

.comment_title {
  margin-top: 30px;
  font-size: 20px;
  color: navy;
}

.comment_user {
  display: inline-block;
  margin-left: 10px;
  font-size: 13px;
}

.input_comment {
  margin: 10px 0 0 10px;
  height: 50px;
  width: 250px;
  padding: 5px 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}


/* 質問 */

.question_list {
  min-width: 200px;
  max-width: 500px;
  margin: 10px 10px 0 10px;
  padding: 2px 3px;
  border: 1px solid navy;
  border-radius: 4px;
}


/* レスポンシブデザイン */

@media (max-width: 700px) {
  .grade_wrapper {
    display: block;
  }

  .grade_inner {
    width: 500px;
  }
}